div.container-fluid {
    width: 100%;
}

div #sidebar {
    height: 100vh;
    background-color: black;
    color: white;
}

div #main {
    height: 100vh;
    background-color: grey;
}

ul.unformatted {
    padding-left: 0px;
    list-style: none;
}

div.video-view {
    padding-top: 20px;
    align-content: center;
}

h3.search-results {
    padding-top: 10px;
}