div.container-fluid {
    width: 100%;
}

div #sidebar {
    height: 100vh;
    background-color: black;
    color: white;
}

div #main {
    height: 100vh;
    background-color: grey;
}

ul.unformatted {
    padding-left: 0px;
    list-style: none;
}

div.video-view {
    padding-top: 20px;
    align-content: center;
}

h3.search-results {
    padding-top: 10px;
}

h1.video-title {
    padding-top: 20px;
    padding-left: 10px;
}

p.video-description {
    padding-top: 10px;
    width: 700px;
}

input.form-submit {
    margin-top: 5px;
}

label.form {
    margin-top: 5px;
}

a.tag {
    padding-left: 5px;
    color: rgb(3, 3, 151)
}